td {
    border: 1px solid lightblue;
    width: 20px;
    height: 20px;
}

.start{
    background-color: #f86909;
    
}

.end{
    background-color: #ff0000;
    border-color: #ff0000;
}