td {
    border: 1px solid rgb(179, 184, 185);
    width: 20px;
    height: 20px;
}

.start{
    background-color: #0bbe0b;
    background-color: #0bbe0b;
}

.end{
    background-color: #ff0000;
    border-color: #ff0000;
}

.wall {
    transition: background-color 0.1s ease-in-out;
    background-color: black;
    border-color: black;
}