body { 
    padding-top: 80px; 
    height: 100%;
}

td {
    border: 1px solid #c2cecc;
    width: 20px;
    height: 20px;
}

.key {
	border: 1px solid #79d9ce;
	width: 20px;
    height: 20px;
    margin-right: 10px;
}

ul {
	list-style-type: none;
}

#myNavbar{
	position: fixed;
	top: 0;
	right: 0px;
	left: 250px;
	z-index: 1030;
	background: #43425D;
}

.btn-space {
	margin-right: 5px;
}

#update {
	margin-bottom: 15px; 
	margin-top: 10px;
}

.wall {
	transition : background-color 0.1s ease-in-out;
	background-color: #262b28;
	border-color: #262b28;
}

.none {
	transition : background-color 0.1s ease-in-out;
	background-color: white;
	border-color: #79d9ce;
}

.searching {
	transition : background-color 0.08s ease-in-out;
	background-color: #1cd4b5;
	border-color: #1cd4b5;
}

.visited {
	transition : background-color 0.08s ease-in-out;
	background-color: #e89440;
	border-color: #e89440;
}

.success {
	transition : background-color 0.08s ease-in-out;
	background-color: #ffee31;
	border-color: #ffee31;
}

.start {
	background-color: green;
	border-color: green;
}

.end {
	background-color: red;
	border-color: red;
}

#bigTableContainer {
	margin-top: 30px;
}

.custom-section {
	margin-bottom: 20px;
}

#modalTitleContainer {
	padding-top: 10px;
}

#results {
	height: 87px;
	width: 120px;
	background-color: #ffc107;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: white;
	font-size: 12px;
	text-align: center;
	border: 1px dashed black;
}

#resultsIcon {
	margin-bottom: 3px;
	margin-top: 7px;
	font-size: 16px;
}

#duration, #length {
	padding: 3px;
}

#infoModalBtn {
	margin-left: 20px;
}

.fun-fact {
	color: darkgreen;
}
 
#user{
	position: absolute;
	right: 0;
	margin-right: 80px;
	color: #fff;
}

#logoid{
	position: absolute;
	right: 0;
	margin-right: 20px;
	height: 35px ;
}

/* sidebar */
.sidebar {
	position: fixed;
	width: 250px;
	left: 0;
	top: 0;
	bottom: 0;
	background: #43425D;
}

.sidebar h1 {
	display: block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	font-family: "Roboto";
	letter-spacing: 2px;
	font-weight: 600;
	margin: 0;
	font-size: 25px;
	text-transform: uppercase;
}

.sidebar h3 {
	display: block;
	padding: 5px 20px;
	color: #fff;
	text-decoration: none;
	font-family: "Roboto";
	letter-spacing: 2px;
	font-weight: 400;
	margin: 0;
	font-size: 25px;
	text-transform: uppercase;
}

.sidebar a {
	display: block;
	padding: 10px 20px;
	color: rgb(247, 241, 241);
	text-decoration: none;
	font-family: "Roboto";
	letter-spacing: 2px;
}

.sidebar a:hover {
	color: #fff;
	margin-left: 20px;
	transition: 0.4s;
	font-family: "Roboto";
}

#tableContainer {
	margin-right: 4em;
	margin-left: 20em;
}

#Vbtn {
	position: relative;
	display: block;
	margin-top: 20px;
	margin-left: 48em;
	margin-right: 1px;
	border-radius: 20px;
	width: 200px;
	height: 60px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 2px;
	border: #43425D;
	background: #43425D;
}

